body {
    background-color: #333;
    color: white;
}

.categoriesList {
    display: flex;
    .name {
        cursor: pointer;
    }
    .category {
        padding: 1em;
        .subCategory {
            margin-left: 1em;
            &::before {
                content: "- ";
            }
        }
    }
}
